* {
    box-sizing: border-box;
}
body {
    background-image: url("https://unsplash.it/1920/1080/?random");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #FFF;
    line-height: 1.5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
}

.container {
    background: rgba(0,0,0,0.5);
    padding: 60px;
    min-width: 500px;
    max-width: 70%;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5em;
    margin: 0 0 20px;
}

h2 {
    font-size: 1.5em;
    margin: 0 0 20px;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 0 50px;
}

input[type="search"] {
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 5px;
    margin: 0 20px;
    font-size: 1.5em;
}

input[type="submit"] {
    background: #4379ff;
    color: #FFF;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
}

input[type="submit"]:hover {
    background: #2e5ed6;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;
}

.links a {
    padding: 0;
    text-decoration: none;
    color: #FFF;
    font-size: 1.5em;
    background: #FFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.links a:hover {
    transform: scale(1.1);
}

.links a img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 1100px) {
    .container {
        min-width: 300px;
        max-width: 100%;
        padding: 20px;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1em;
    }
    form {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    input[type="search"] {
        width: 100%;
        margin: 0 0 20px;
    }
    input[type="submit"] {
        width: 100%;
        margin: 0;
    }
.links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    }
    .links a {
        margin: 10px;
    }
}